@model projectMoo.Models.ViewModels.UserViewModel
@{ 
    ViewBag.Title = "Assignments";
}

<div class="row">
    <div class="col-md-8">
        <h3>@Model.Name | Assignments</h3>
    </div>
    <div class="col-md-4">
        <div id="topright" class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Courses
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @foreach (var course in Model.Courses)
                {
                    <li>@Html.ActionLink(@course.Title, "CourseAssignments", "Assignments", new { ID = course.CourseID }, new { id = "nav-li" })</li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <ul class="list-group">
            @foreach (var assignment in Model.Assignments)
            {
                <li id="assignment-li-a" data-type="@assignment.Title" href="#" class="list-group-item text-left cursor-change assignment-li-a">
                    @assignment.Title
                    <span class="badge">
                        @assignment.DueDate.ToShortDateString()
                    </span>
                </li>

 
            }
        </ul>
    </div>
    <div class="col-sm-7">
        <div class="Empty">
            <h3>No Assigment Selected :(</h3>
            <p class="SmallText">Select an assignment from the list on the left.</p>
        </div>
        @foreach (var assignment in Model.Assignments)
        {
            <div class="hidden" id="@assignment.Title">
                <div class="Assinment">
                    <h2>@assignment.Title</h2>
                    <p>@assignment.Description</p>
                    <p class="badge">@assignment.DueDate.ToShortDateString()</p>
                    <p class="pull-element-right"><strong>Grade:</strong> 8</p>
                </div>


                    @foreach (var milestone in assignment.Milestones)
                    {
                        <div class="Milestone">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h2>@milestone.Title</h2>
                                </div>
                                <div class="col-sm-2">
                                    @Html.ActionLink("Submissions", "ViewSubmissions", "Assignments", new { ID = milestone.MilestoneID }, new { id = "nav-li" })
                                </div>
                            </div>
                            <p>@milestone.Description</p>
                            <p>Percentge:@milestone.Percentage%</p>
                            <p>Status: Incomplete</p>
                            @using (Html.BeginForm("UploadMilestone", "Assignments", new { ID = milestone.MilestoneID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <span class="btn btn-default btn-file">
                                    Add File<input type="file" name="file" />
                                </span>
                                <input type="submit" value="OK" class="btn btn-primary" />
                            }
                            <p class="pull-right"><strong>Grade:</strong> @milestone.Grade</p>
                        </div>

                    }
            </div>
        }
    </div>
</div>

@Scripts.Render("~/Scripts/AssignmentsScript.js")




