@model projectMoo.Models.ViewModels.UserViewModel
@{ 
    ViewBag.Title = "Assignments";
}

<div class="row">
    <div class="col-md-8">
        <h3>@Model.Name | Assignments</h3>
    </div>
    <div class="col-md-4">
        <div id="topright" class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Courses
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @foreach (var course in Model.Courses)
                {
                    <li><a href="#">@course.Title</a></li>}
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <ul id="assignment-vertical-nav">
            @foreach (var assignment in Model.Assignments)
            {
                <li><a class="assignment-li-a" id="assignment-li-a" data-type="@assignment.Title" href="#">@assignment.Title</a></li>
            }
        </ul>
    </div>
    <div class="col-sm-9">
        @foreach (var assignment in Model.Assignments)
        {
            <div class="hidden" id="@assignment.Title">
                <h2>@assignment.Title</h2>
                <p>@assignment.Description</p>
            </div>
        }
    </div>
</div>




