@model projectMoo.Models.ViewModels.ResultViewModel

<h1>Submitted</h1>

@if (Model.Status == true)
{
    <div class="panel panel-success">
        <div class="panel-heading">Success!</div>
        <table class="table table-condensed">
            <tr>
                <th class="text-center">Input</th>
                <th class="text-center">Output</th>
                <th class="text-center">Expected Output</th>
            </tr>
            @for (int i = 0; i < Model.Input.Count; i++)
            {
                <tr>
                    <td>@Model.Input[i]</td>
                    @if (Model.Output[i] == Model.ExpectedOutput[i])
                    {
                        <td class="success">@Model.Output[i]</td>
                        <td class="success">@Model.ExpectedOutput[i]</td>
                    }
                    else
                    {
                        <td class="danger">@Model.Output[i]</td>
                        <td class="success">@Model.ExpectedOutput[i]</td>
                    }
                </tr>
            }

        </table>
    </div>
}
else
{
    <div class="panel panel-danger">
        <div class="panel-heading">Error!</div>
        <table class="table table-condensed">
            <tr>
                <th class="text-center">Input</th>
                <th class="text-center">Output</th>
                <th class="text-center">Expected Output</th>
            </tr>
            @for (int i = 0; i < Model.Input.Count; i++)
            {
                <tr>
                    <td>@Model.Input[i]</td>
                    @if (Model.Output[i] == Model.ExpectedOutput[i])
                    {
                        <td class="success">@Model.Output[i]</td>
                        <td class="success">@Model.ExpectedOutput[i]</td>
                    }
                    else
                    {
                        <td class="danger">@Model.Output[i]</td>
                        <td class="success">@Model.ExpectedOutput[i]</td>
                    }
                </tr>
            }

        </table>
    </div>
}
   
   
