@model projectMoo.Models.ViewModels.SubmissionViewModel

<div class="coursetable">
    <table class="table table-hover courses">
        <thead>
            <tr>
                <th>Milestone Title</th>
                <th>State</th>
                <th>File</th>
                <th>Date</th>
            </tr>
        </thead>
        @foreach (var submission in Model.Submissions)
        {
            if (@submission.State == false)
            {
                <tr onclick="location.href = '@(Url.Action("Download", "Assignments", new { file = submission.FileID }))'" class="cursor-change" id="red-background">
                    <td class="lead">@Model.Milestone.Title</td>
                    <td>@submission.State</td>
                    <td><a href="http://localhost:1773/Assignments/Download?file=@submission.FileID" target="_blank">Download File</a></td>
                    <td><span class="badge">@submission.Date</span></td>
                </tr>
            }
            if (@submission.State == true)
            {
                <tr onclick="location.href = '@(Url.Action("Download", "Assignments", new { file = submission.FileID }))'" class="cursor-change" id="green-background">
                    <td class="lead">@Model.Milestone.Title</td>
                    <td>@submission.State</td>
                    <td><a href="http://localhost:1773/Assignments/Download?file=@submission.FileID" target="_blank">Download File</a></td>
                    <td><span class="badge">@submission.Date</span></td>
                </tr>
            }



        }
    </table>
</div>