<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="main-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img id="logo-nav" src='@Url.Content("~/Images/logo.png")' />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav li-nav">
                    <li>@Html.ActionLink("My page", "Index", "Home", null, new { id = "nav-li" })</li>
                    <li>@Html.ActionLink("Courses", "Index", "Courses", null, new { id = "nav-li" })</li>
                </ul>
                @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
                {
                    <div class="btn-group create-object">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Create Actions
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Create Assignment", "CreateAssignment", "Assignments", null, new { @class = "create" })
                            <div class="dropdown-divider"></div>
                            @if (User.IsInRole("Admin"))
                            {
                                 @Html.ActionLink("Create Course", "CreateCourse", "Courses", null, new { @class = "create" })
                                  <div class="dropdown-divider"></div>
                                 @Html.ActionLink("Create User", "NewUser", "CreateUser", null, new { @class = "create" })
                                 <div class="dropdown-divider"></div>
                            }
                        </div>
                    </div>
                }
                @if (User.IsInRole("Teacher") || User.IsInRole("Admin")) { 

                    <div class="btn-group create-object">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Delete Actions
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Delete Assignment", "DeleteAssignment", "Assignments", null, new { @class = "create" })
                            <div class="dropdown-divider"></div>
                            @if(User.IsInRole("Admin"))
                            {
                                 @Html.ActionLink("Delete Course", "DeleteCourse", "Courses", null, new { @class = "create" })
                                 <div class="dropdown-divider"></div>
                                 @Html.ActionLink("Delete User", "DeleteUser", "CreateUser", null, new { @class = "create" })
                                 <div class="dropdown-divider"></div>
                            }
                        </div>
                    </div>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer id="footer">
            <p>&copy; @DateTime.Now.Year - Mooshak v2.0 all rights reserved | Verklegt Námskeið 2 </p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
