@model projectMoo.Models.ViewModels.AddCourseViewModel

<div class="button-top">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-5">
            <div class="form-horizontal">
                <h4 class="center-text">New Course</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.course.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => Model.course.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.course.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.course.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.course.Description, new { @class = "form-control", @rows = 7, @cols = 10 })
                        @Html.ValidationMessageFor(model => model.course.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.course.BeginDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.course.BeginDate, new { id = "due_date", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.course.BeginDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.course.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.course.EndDate, new { id = "due_date",  @class = "form-control"  })
                        @Html.ValidationMessageFor(model => model.course.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.course.Group, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.course.Group, ViewData["Groups"] as List<SelectListItem>, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.course.Group, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 ">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">

                <div class="form-horizontal">
                    <h4 class="center-text">Add Teachers</h4>
                    <table class="table">

                        @for (var i = 0; i < Model.Teachers.Count; i++)
                        {
                            <tr>
                                <td>@Model.Teachers[i].Username</td>
                                <td>@Html.CheckBoxFor(mo => @Model.Teachers[i].Selected, new { @checked = "checked" ,@class = "checkbox-custom" })</td>
                                @Html.HiddenFor(x => x.Teachers[i].UserId)


                            </tr>
                        }

                      
                    </table>

                </div>


                <div class="form-horizontal">
                    <h4 class="center-text">Add Students</h4>
                    <hr />
                    <table class="table">

                        @for (var i = 0; i < Model.Students.Count; i++)
                        {
                            <tr>
                                <td>@Model.Students[i].Username</td>
                                <td>@Html.CheckBoxFor(mo => @Model.Students[i].Selected, new { @checked = "checked", @class = "checkbox-custom" })</td>
                                @Html.HiddenFor(x => x.Students[i].UserId)


                            </tr>
                        }
                    </table>
                </div>


        </div>
    }


