@model projectMoo.Models.ViewModels.DeleteCourseViewModel

@{
    ViewBag.Title = "Delete Course";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-5">
        <div class="delete">
            <h4 class="center-text-delete">Delete Course</h4>
            <p class="SmallText">This will permanently delete the course and all it´s users.</p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.courseId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.courseId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.courseId, "", new { @class = "text-danger" })
                </div>
            </div>
            <br/>
            <div><p class="SmallText">- Or -</p></div>
            <div class="form-group">
                @Html.LabelFor(model => model.courseName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.courseName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.courseName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
}
            
